
@keyframes girar {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#spinn{
  /* Substitua pelo caminho da sua imagem */
  background-image: url('assets/img/spin.png'); 
  width: 100px;  /* ou o tamanho desejado */
  height: 100px; /* ou o tamanho desejado */
  background-size: cover;
  animation-name: girar;
  animation-duration: 2s; /* Velocidade inicial */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 220px;
  border-color: black;
}


summary {
    border: 4px solid transparent;
    outline: none;
    &:focus {
      border-color: white;
    }
    padding: 1rem;
    display: block;
    background:  #f1f1f1;
    color: black;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

details {
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 5px;
    background: white;
  }
  details summary::-webkit-details-marker {
    display:none;
  }
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
  }
  
  .content {
    border-top: none;
    padding: 10px;
    border: 2px solid  #f1f1f1;
    border-top: none;
  }
    