@font-face {
    font-family: sacramento;
    src: url(assets/fonts/sacramento.ttf);
  }

h3{
    font-family: sacramento;
}

*{
    margin:0;    
}
body{

    width: 99%;
    height: 100%;
}
.app{
    text-align: center;
  
}